/* =========================
   GLOBAL / RESET....
========================= */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: antiquewhite;
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

/* =========================
   NAVBAR
========================= */
.navbar {
  background-color: bisque;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left img {
  height: 35px;
}

.navbar-right {
  list-style: none;
  display: flex;
  gap: 2em;
  margin: 0;
  padding: 0;
}

.navbar-right a {
  color:cornsilk;
  text-decoration: none;
  font-weight: bold;
}

.navbar-right a:hover {
  color:burlywood;
}

